# Core async libraries
aiofiles
aiohttp
asyncio
apscheduler
httpx[http2]==0.27.2

# Telegram bot library
pyrogram==2.0.106
 python-telegram-bot
# Speedups
TgCrypto

# Utilities
python-dotenv
pytz
unidecode
requests
pickledb
pycountry
pycryptodome
pydub
pyfiglet
pyshorteners
qrcode
emojis
Faker
geopy
cloudscraper
curl-cffi
lexica-api
g4f

# HTML / scraping / text processing
beautifulsoup4
bs4
telegraph
gtts
SpeechRecognition
img2pdf
pillow==10.3.0

# API clients
google-api-python-client
MukeshAPI

# Git / Heroku
gitpython
heroku3

# Database
motor

# Audio / Video / Music (required for music bot)
ffmpeg-python
opencv-python-headless==4.8.1.78
opencv-python
youtube_dl==2021.12.17
yt-dlp
pytube

# Optional / extra APIs
instaloader
pornhub-api==0.3.0
spotipy
stripe==10.7.0

# Translation / language
gpytranslate
langdetect

# Telegram / Pyrogram add-ons
py-tgcalls==0.9.7
ntgcalls

# Other utilities
python-telegram-bot
pyyaml==6.0.1
python-whois
pyttsx3
pykeyboard
search_engine_parser
speedtest-cli
telebot==0.0.5
youtube-search
youtube-search-python
git+https://github.com/AsmSafone/SafoneAPI.git